@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

.App { text-align: center }
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro { font-size: large }
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.bp3-table-column-name{ text-align: center }
.bp3-label{
    min-width: 100px;
    text-align: left;
}

.bp3-control.bp3-switch:not(.bp3-align-right) { width: 227px }
